body {
  background: $body-bg;
}
p,
ul,
ol,
quote {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  color: #646c77;
  display: block;
  a {
    color: $link-color;
    text-decoration: $link-decoration;
    border-bottom: 1px dotted #646c77;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}
img {
  max-width: 100%;
  height: auto;
}

.no-style-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
